@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-primary: #1e293b;
  --theme-primary-light: #334155;
  --theme-primary-dark: #0f172a;
  --theme-primary-accent : #edb84c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-theme-primary: var(--theme-primary);
  --color-theme-primary-light: var(--theme-primary-light);
  --color-theme-primary-dark: var(--theme-primary-dark);
  --color-theme-primary-accent: var(--theme-primary-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

html,
main {
  background-color: #f8fafc;
  height: 100%;
}

.enquire-form {
  select > option {
    height: 200px !important;
    overflow-y: scroll;
  }
}
.unique-day::before {
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid var(--theme-primary-light);
  background-color: var(--theme-primary);
  display: block;
  margin-bottom: 1rem;
  position: absolute;
}

.itinerary-line {
  background-image: repeating-linear-gradient(
    to bottom,
    #a3a3a3 0px,
    #a3a3a3 8px,
    transparent 8px,
    transparent 16px
  );
  background-size: 100% 16px;
}
